<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="./vendor/autoload.php">
  <coverage>
    <include>
      <directory>./src</directory>
    </include>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <server name="SYMFONY_ENV" value="test"/>
    <server name="KERNEL_DIR" value="Tests/"/>
    <server name="KERNEL_CLASS" value="IM\Fabric\Bundle\HealthCheckBundle\Tests\App\TestKernel"/>
    <env name="APP_VERSION" value="97dadc6617d3177b95b1a9fadfb456283dfdd82f"/>
    <env name="LAST_COMMIT_DATE" value="Fri Jan 29 10:09:02 2021 +0000"/>
    <env name="BUILD_START_TIME" value="1611915490663"/>
  </php>
  <testsuites>
    <testsuite name="Test suite">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
