parameters:
  app.version: "%env(default:fallback_param:APP_VERSION)%"
  app.last_commit_date: "%env(default:fallback_param:LAST_COMMIT_DATE)%"
  app.build_start_time: "%env(default:fallback_param:BUILD_START_TIME)%"
  fallback_param: ''

services:
  Symfony\Component\Filesystem\Filesystem: ~
  Symfony\Component\Yaml\Parser: ~
    
  IM\Fabric\Bundle\HealthCheckBundle\Controller\HealthCheckController:
    autowire: true
    public: true
    tags:
      - { name: 'container.service_subscriber' }
